# Application
APP_ENV=development
HTTP_PORT=8080
CORS_ORIGIN=http://localhost:3000

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mentee
POSTGRES_SSLMODE=disable
